[2014-08-13 20:41] mookid8000 opened #1 "Caching of aggregate roots"

[2014-08-13 21:01] mookid8000 opened #2 "NLog logger"
Add integration library package for NLog integration

[2014-08-13 21:15] #2 closed, assigned to mookid8000

[2014-08-13 21:37] mookid8000 opened #3 "Asynchronous event dispatcher decorator"
Just a wrapper than can make any event dispatcher asynchronous

[2014-08-13 21:50] #3 closed, assigned to mookid8000

[2014-08-27 15:24] mookid8000 opened #4 "View manager for PostgreSql"
Could be similar to what `MongoDBViewManager` is capable of by using the `JSONB` data type for the view.

Should provide a mechanism to easily create indexes into the JSON-serialized view instances, and it would be absolutely awesome if some basic LINQ spells were supported as well.

[2014-08-27 20:02] gregoryyoung opened #5 "Projection Replay on live system"
How do you replay a projection?

[2014-08-27 20:11] gregoryyoung opened #6 "CommandProcessor/Command"
I can't see how I could write a handler that needed to load up more than a single graggregate. The example I usually use for this is Enrolling a Student in a Class. There is a Student aggregate and a Class aggregate (both have business rules that need to be met). Eventually you end up with something like

student.EnrollIn(class)

How can I hydrate multiple aggregates in the handler?

[2014-08-28 05:19] #6 closed, assigned to nobody

[2014-08-29 12:43] christiansparre opened #8 "Handling dependencies during command processing"
Any ideas on how to handle dependencies during processing of a command. Say you need access to some external data for validation.

You could load another aggregate if the data was available there, I think the Load<> feature is a great compromise/strength :)

But it might be data stored in views or something completely different, maybe an entirely different system.

Would love your input.

[2014-08-29 16:35] #8 closed, assigned to nobody

[2014-08-30 18:22] mookid8000 opened #9 "New view manager event dispatcher implementation"
Primarily pull-based, automatically catches up if necessary, asynchronous by default and with async/await support when dispatching to individual view managers, with an option to block until one or more particular views have caught up to some specific global sequence number

[2014-09-01 19:29] mookid8000 opened #10 "Configuration API"
When the command processor is created, it is easy to forget to call `Initialize` - this is of course because we're missing a real configuration API that will auto-complete-lead you to Do The Right Thing when invoking the configuration spells.

E.g.

[code]

could be replaced by

[code]

which would make it impossible to end up with e.g. an uninitialized command processor.

The configuration API sh

[2014-09-01 19:39] #10 closed, assigned to mookid8000

[2014-09-03 18:03] #1 closed, assigned to mookid8000

[2014-09-10 05:34] #5 closed, assigned to mookid8000

[2014-09-10 10:33] mookid8000 opened #11 "Merge JSON.NET into core DLL"
Like [Rebus](https://github.com/rebus-org/Rebus), the core NuGet package should be absolutely dependency-less - but since we rely so much on JSON.NET to work its magic, we must merge it into `c60.Cirqus.dll`.

Should just be part of the build script - no need to merge during ordinary SLN build.

[2014-09-10 20:33] #11 closed, assigned to mookid8000

[2014-09-11 10:52] mookid8000 opened #12 "New MSSQL view manager should re-create schema if necessary"
When creating it with `automaticallyCreateSchema: true`, the schema-thingie should check whether the schema matches the on required by the model (at least by checking whether all the necessary columns are there)

If not, it should drop the table and re-create it.

[2014-09-12 07:42] mookid8000 opened #13 "RavenDB event store"
(what the title says)

[2014-09-12 07:45] mookid8000 opened #14 "RavenDB view manager"

[2014-09-12 07:51] mookid8000 opened #15 "FoundationDB event store"
would be neat ;)

(I have no idea how FoundationDB would actually be used to implement an event store - would it be plain key-value, use a document structure, or the new SQL layer? ?????)

[2014-09-12 07:53] mookid8000 opened #16 "FoundationDB view manager"
would be neato!

(I'm not a FoundationDB expert, but I _guess_ it would be neat if the view manager could use some kind of document-oriented layer for the views, although I'm unsure whether there is an official document-oriented layer....)

[2014-09-12 07:54] #12 closed, assigned to nobody

[2014-09-16 09:16] mookid8000 opened #17 "ElasticSearch view manager"
Would be neat!

I'm imagining a view manager that is configured to use a specific index and type... or would it make sense to vary the type within one view manager?

It would be cool if the view manager would somehow make it easy to configure the maps for any given index/type.

[2014-09-22 09:32] #9 closed, assigned to mookid8000

[2014-10-10 08:34] mookid8000 opened #19 "SQLite event store"
would be awesome

[2014-10-10 08:34] #19 closed, assigned to mookid8000

[2014-10-17 09:32] mookid8000 opened #20 "Performance measurement hooks for command processing"
It would be neat if a few events were in place that would allow for measuring time spent doing various things.... or maybe it could simply be implemented as decorators?

For each processed command, it would be nice to be able to track the entire command itself along with the time spent
- hydrating aggregate roots (by aggregate root type)
- executing actual domain logic (by aggregate root type)
- c

[2014-10-17 09:35] mookid8000 opened #21 "Performance measurement hooks for event processing"
At least for the view manager event dispatcher, it would be neat if hooks were in place that allowed for tracking time spent dispatching events to individual views.

A result of this could be the ability to measure how long it takes for the managed views to catch up to reality after having processed each command, which in turn could provide the means to better allocate threads to views.

[2014-10-23 07:35] #20 closed, assigned to mookid8000

[2014-10-28 15:09] dgg opened #23 "Serialization customization"
Hi,

I am trying to use Cirqus to develop a system that makes use of event sourcing.

Right now I am using the _Sql Server_ event store and I am in the need to customize how events are serialized.
I can see you use (and merge) **Json.Net** and that the `DomainEventSerializer` is used to serialize events and that type exposes a `JsonSerializerSettings`.
Unfortunately the creation of isntances of th

[2014-10-29 11:36] mookid8000 opened #24 "Default event dispatcher"
should be a `DevNullEventDispatcher` or something... no need to require an event dispatcher to get started persisting some events

[2014-10-31 13:38] asgerhallas opened #25 "Aggregate string keys"
Would it make sense to change AggregatesRootId's to string, so that we can use "natural" keys for uniqueness purposes?

There could still be the interfaces for using guids as today, but behind the scenes, keys could be persisted as strings.

[2014-11-02 16:31] #24 closed, assigned to nobody

[2014-11-03 08:01] #23 closed, assigned to mookid8000

[2014-11-03 21:19] #25 closed, assigned to asgerhallas

[2014-11-04 14:29] asgerhallas opened #26 "Load without creating"
I'm a little confused about loading, getting and creating roots using the various methods on AggregateRoot, CommandContext and UnitOfWork.

AggregateRoot.Load throws if not found but can optionally be configured to create.
DefaultCommandContext.Load creates by default and gives me no way to see if the root was found.
UnitOfWork.Get has a different name but behaves like Aggreroot.Load if I'm not mi

[2014-11-04 15:12] asgerhallas opened #27 "Calling OnCreated is not called when root is created from within other root"
The snippet

[code]

is only called when loading from CommandContext.

Is that the intent?

[2014-11-05 09:18] #27 closed, assigned to asgerhallas

[2014-11-05 12:31] #26 closed, assigned to nobody

[2014-11-11 09:11] asgerhallas opened #28 "DomainEvent<T> - what's the type parameter for?"
I was just discussing some future changes to our software and wondered why an event is required to know which aggregate will emit it?

[2014-11-13 13:29] mookid8000 opened #31 "Auto-event when initializing an event stream"
When a new event stream is initialized, I'm thinking that an automatic event could be emitted - `EventStreamCreated` or something like that - which could carry the aggregate root type information (if any? in the current implementation we always have an aggregate root type, but maybe that shouldn't be such a hard requirement)

For now, this feature should enable this scenario:

[code]

where `ICanP

[2014-11-17 06:06] mookid8000 opened #32 "Ways of loading aggregate roots"
- `ICommandContext`:
  - `Create<T>`
  - `Load<T>`
  - `TryLoad<T>`
- `AggregateRoot`:
  - `Create<T>`
  - `Load<T>`
  - `TryLoad<T>`
- `IViewContext`:
  - `Load<T>`
  - `TryLoad<T>`

where `Create` should create a new instance and throw if one already exists with that ID, `Load` should load and throw if the instance does not exist, and `TryLoad` should load and return `null` if the instance does

[2014-11-17 07:55] #32 closed, assigned to mookid8000

[2014-11-17 11:12] #28 closed, assigned to nobody

[2014-11-18 06:16] #31 closed, assigned to nobody

[2014-11-19 19:24] asgerhallas opened #34 "Loading other aggregates from inside aggregate root"
As we discussed, it might be an idea to remove the Load methods from inside aggregate roots. There were four arguments for it, as far as I remember, but I can only remember three of them :)

1. It would make dependencies to other aggregate roots and coordination between them explicit in the application services where the scope of the transaction is also easily seen.

2. If loading in the aggregate

[2014-11-24 13:53] asgerhallas opened #35 "Preferred way of adding command logging and causation ids"
I wonder if this should be built in to Cirqus?

And if not, should there be event hooks (like OnProcessingCommand, OnProcessedCommand) on the CommandProcessor?

[2014-11-24 14:14] #35 closed, assigned to nobody

[2014-11-25 14:28] asgerhallas opened #36 "Letting go of the type parameter on TestContext.Save()"
I'd like to be able to do something like this,

        public void Given(params IEnumerable<DomainEvent>[] events)
        {
            foreach (var domainEvent in events.SelectMany(x => x))
            {
                context.Save((dynamic)domainEvent);
            }
        }

but without dynamic.

Would it be an idea to relax the Save method signature, or have non-generic overloads, that en

[2014-12-03 08:07] mookid8000 opened #37 "Make sure that exceptions thrown by view managers give enough info"
in particular, `MsSqlViewManager` seems to throw a pretty useless exception when the update fails, e.g. because of attempting to insert `DateTime.Min`

[2014-12-26 23:06] Mech0z opened #39 "Issue with VS 2015 and Vnext"
Not sure if its a bug in Cirqus or Vnext, but if I have the newest version of Cirqus in my Asp vnext project I get these errors

https://dl.dropboxusercontent.com/u/19153690/cirqus.png

If I then remove the nuget package I get more errors (Which makes sense)

https://dl.dropboxusercontent.com/u/19153690/cirqusremoved.png

But in the editor there is no error, only down in the error list, and why I

[2014-12-29 12:52] #39 closed, assigned to nobody

[2015-01-06 06:49] mookid8000 commented on #4
work is ongoing in [`feature/postgres-views`](https://github.com/d60/Cirqus/tree/feature/postgres-views)

[2015-01-13 09:41] asgerhallas opened #40 "Type argument constraint to AggregateRoot"
I see that this has been changed a little while back:

     -        TAggregateRoot TryLoad<TAggregateRoot>(string aggregateRootId) where TAggregateRoot : AggregateRoot, new();

     +        TAggregateRoot TryLoad<TAggregateRoot>(string aggregateRootId) where TAggregateRoot : class;

Is there any reason not to constrain this to AggregateRoot as opposed to just class? This spreads out down to repo

[2015-01-13 09:49] mookid8000 commented on #40
There's no type constraint because you must be able to do this:

    var instance = context.Load<ICanDoStuff>(someId);
    instance.DoStuff();

Obviously, `Create` has a type constraint because the created instance must be of a concrete aggregate root type, but `Load` and `TryLoad` should support polymorphy.

[2015-01-13 09:49] #40 closed

[2015-01-13 09:51] mookid8000 commented on #40
BAM!!!11

(the sound of an issue being almost immediately closed)

[2015-01-13 09:51] asgerhallas commented on #40
Oh yes, you're right. I totally forgot about that :)

[2015-01-13 09:51] mookid8000 commented on #40
You're right that I'm right. And you're right, you forgot about that.

[2015-01-13 09:52] asgerhallas commented on #40
I'll keep 'em coming! :-p

[2015-01-13 09:54] mookid8000 commented on #34
I'll close this one for now - all AR loading operations are still available in aggregate roots - if you don't like this, just don't use them.

[2015-01-13 09:54] #34 closed

[2015-01-13 09:59] asgerhallas commented on #36
I'll close this one then. We can discuss it some other day :)

[2015-01-13 09:59] #36 closed

[2015-01-13 10:08] mookid8000 commented on #36
:+1:

[2015-01-13 10:20] asgerhallas opened #41 "Testing helpers"
We've made some tools (base classes mostly) for testing commands and views in a structured way.

I wonder if we should include these in Cirqus?

It goes kind of like this:

            Emit(new FolderCreated("MyFolder"));
            Emit(new FolderCreated("MySafeFolder"));
            Emit(new FileUploaded(fileId_1, Id<User>(), "first.txt", "MyFolder"));
            Emit(new FileUploaded(fileId_2

[2015-01-13 10:35] mookid8000 commented on #41
Looks neat! We could re-introduce the `Cirqus.Testing` package that could provide these things. If they turn out to be so useful that everyone wants to use them, we could consider putting them into core.

[2015-01-13 11:21] asgerhallas commented on #41
Yes, I was thinking along the same lines. I'll get on it :)

[2015-01-13 14:17] asgerhallas opened #42 "ConfigurationBuilders and extensions"
Right now there are two ways to implement configuration api... directly in the ConfigurationBuilder and as an extension method to a configuration builder.

I can see the point in extension methods for external modules adding their own config options, but I don't see why the core config is moved out into extension methods? Are there a good reason for this - that I have just forgotten about? :)

An

[2015-01-13 14:21] mookid8000 commented on #42
I initially made them as extension method to verify that it would actually be possible to configure stuff from an extension method. And then I left them there because I contemplated whether the entire `ViewManagerEventDispatcher`-based view system should be moved out into a separate project. But I don't think we should do that (at least not for a while, and maybe never), so there's no reason why t

[2015-01-13 16:53] #42 closed

[2015-02-25 14:17] asgerhallas opened #45 "Transfer metadata to events before emit"
Metadata from commands are transferred to events and can then be used in handlers on views. But they cannot be used in apply methods on roots, as they have not been transferred yet, at the time. Would there be any problems in moving the transfer of metadata into the aggregate root before the applies are called?

[2015-02-25 14:23] mookid8000 commented on #45
no

[2015-02-25 14:26] mookid8000 commented on #45
![no](http://images.sodahead.com/polls/003660559/451284385_Annoying_no_gif_answer_2_xlarge.gif)

[2015-02-25 14:27] mookid8000 commented on #45
![](http://www.reactiongifs.com/wp-content/uploads/2013/08/no-answer.gif)

[2015-02-25 14:28] asgerhallas commented on #45
But why did you close it then? :-O

[2015-02-25 14:31] mookid8000 commented on #45
sorry

[2015-02-25 14:35] asgerhallas commented on #45
You're soooo sending mixed signal :)

[2015-02-26 08:26] #45 closed

[2015-02-26 08:30] asgerhallas commented on #45
Are you still using the ability to Load in an apply method of an aggregate root, or is it just in the emitting method, you use it?

[2015-02-26 08:31] asgerhallas commented on #45
@mookid8000 if you do, I need to "flow" the metadata further down, and I'll fix that if you need it :)

[2015-02-26 09:23] asgerhallas opened #46 "Id extensions: Usage of values extracted from id might fail in apply methods"
The current implementation of AR repository decorator that applies extracted values from an id to a root, does so after the AR is fully hydrated. Thus if an apply method uses on of the values it is not yet set, and that will fail.

[2015-02-26 09:34] mookid8000 commented on #45
I do - but the loaded root cannot `Emit` when it's loaded from an `Apply`

[2015-02-26 09:36] asgerhallas commented on #45
Oh. All good then :)

[2015-02-26 12:29] mookid8000 commented on #46
sorry about the judgmental application of the "bug" label, but I don't have a label for "missin feature" or something like that :)

[2015-02-26 12:48] asgerhallas commented on #46
I can handle it! :)

[2015-03-13 11:55] rasmuseo opened #47 "Rollbacking event writes"
Hi, we are using Cirqus as an event repository (in SQL Server) but our views are hand-crafted (handling the dispatched event via a custom `IEventDispatcher`) in RavenDb.

Problem comes when for some reason one of the handlers for the dispatched event fails. In that situation the event has been commited to the store, but the "views" are not in sync with what in the event store. In our case, that be

[2015-03-13 12:09] mookid8000 commented on #47
hi @rasmuseo , thanks for your question! could you maybe post it on StackOverflow and tag it with "cirqus" - then I promise I will give you a quick and thorough answer :)

thanks!

[2015-03-13 12:09] #47 closed

[2015-03-13 12:45] rasmuseo commented on #47
It's added to StackOverflow now - But I didn't have enough reputation to add the 'cirqus' tag (sigh). Its called 'Cirqus - Rollbacking Events' and tagged with event-handling and transaction.

I would appriciate it if you would take a look at it.

[2015-03-13 13:38] mookid8000 commented on #47
I added the 'cirqus' tag and wrote you [an answer](http://stackoverflow.com/a/29033681/6560)

[2015-03-19 09:41] ssboisen opened #48 "Possible bug in order of events in ViewManagerEventDispatcher"
Hi guys,

In the ViewManagerEventDispatcher on line [#112](https://github.com/d60/Cirqus/blob/master/d60.Cirqus/Views/ViewManagerEventDispatcher.cs#L112) you determine the max sequence number in the batch of events by using Max, I assume this is because no ordering of the events are assumed?

However in lin [#221](https://github.com/d60/Cirqus/blob/master/d60.Cirqus/Views/ViewManagerEventDispatche

[2015-03-19 10:03] mookid8000 commented on #48
They are expected to be in order :) but I guess you are right that the code could be a little more clear about this.

I guess I could have made it an `IOrderedEnumerable` to be slightly more explicit about it, but now that I read about it I actually think that [that would pollute/mislead even more](http://stackoverflow.com/a/8518941/6560).

Another option would be to make it explicitly accept `Lis

[2015-03-19 10:03] #48 closed

[2015-04-07 05:15] mookid8000 commented on #15
[probably not](http://techcrunch.com/2015/03/24/apple-acquires-durable-database-company-foundationdb/)

[2015-04-07 05:15] #15 closed

[2015-04-07 05:15] mookid8000 commented on #16
[unlikely](http://techcrunch.com/2015/03/24/apple-acquires-durable-database-company-foundationdb/)

[2015-04-07 05:16] mookid8000 commented on #4
has been in master for a while now :)

[2015-04-07 05:16] #4 closed

[2015-04-07 05:17] mookid8000 commented on #46
this one is done, right @asgerhallas ?

[2015-04-07 05:19] mookid8000 commented on #21
`ViewManagerEventDispatcher` can now aggregate time spent processing events by event type/view manager type by providing a `IViewManagerProfiler`. A standard implementation comes out of the box that may be useful enough in most scenarios

[2015-04-07 05:19] #21 closed

[2015-04-07 05:19] #16 closed

[2015-04-07 11:17] asgerhallas commented on #46
Oh, I believe so, but allow me to double check!

[2015-04-07 11:24] asgerhallas commented on #46
Hmm... looks like I never finished it. I'll look at it first chance I get!

[2015-04-17 09:14] asgerhallas opened #49 "Improvements for the TsClient"
@larsudengaard and I was talking about improving the TsClient for:

1. Making it possible to select types by some sort of "in project" configuration class
2. Making special conversion of given types, like Id<T> to a string
3. Support TypeScript interfaces for Views too

The default command line tool could still work as today.

Do you have any thoughts on that?

[2015-04-17 09:48] larsudengaard commented on #49
I on it! :-) I will make a pull-request, when it is done.

[2015-04-29 13:52] larsudengaard commented on #49
I created a separate project for this. It is located here: https://github.com/larsudengaard/Cirqus.TypeScript

[2015-04-29 13:56] mookid8000 commented on #49
:+1:

[2015-04-29 13:56] #49 closed

[2015-05-19 15:18] h3ko opened #50 "Inheritance of AggregateRoots and Emit issue"
Hello,

First of all, Cirqus is great and thank you for dev it! We use it a lot and recently came across an issue with inheritance. Is there any reason why aggregates should not emit events from aggregates extending them?

Example:

Base aggregate & event:
   public class Device : AggregateRoot {}
   public class DeviceChanged : DomainEvent<Device>

Two classes extending the base aggregate:
   pub

[2015-05-19 17:57] mookid8000 commented on #50
Oh, that is definitely ok :+1:  if you submit a PR, I'd be happy to merge it :)

[2015-05-19 18:42] asgerhallas commented on #50
Should the Owner meta data of the event be set to the emitting type instead of the owning type then? I believe it's used when instantiating roots and that needs to be the concrete type.

[2015-05-19 18:54] mookid8000 commented on #50
Yes, it should be the concrete type of the aggregate root, no matter if it's inhertited off of some kind of base class.

[2015-05-20 07:06] h3ko commented on #50
Doesn't this work by default?

It gets type of the current instance - if the instance is for example SpecialDeviceA (extends Device) type is SpecialDeviceA and not the base class Device.

 e.Meta.TakeFromAttributes(GetType());

[2015-05-20 07:25] asgerhallas commented on #50
I'm thinking of this line in RealUnitOfWork.AddEmittedEvent<TAggregateRoot>():

    e.Meta[DomainEvent.MetadataKeys.Owner] = _typeNameMapper.GetName(typeof (TAggregateRoot));

It takes the type of the owner defined by the event - in this case the base type Device. That means that the DefaultAggregateRootRepository.Get() will try to create an instance of the base type here:

    var aggregateRootTy

[2015-05-20 07:30] asgerhallas commented on #50
As an aside, I guess Emitter would be a better name for the metadata key. But I guess that'll break some running systems :)

[2015-05-20 10:29] mat3y commented on #50
I implemented this with suggested emitter metadata and it seems to work.

In AggregateRoot
[code]
In RealUnitOfWork
[code]

Now the problem is that I cannot get type of concrete aggregate root in CirqusTestsHarness.
[code]

Any idea?

[2015-05-20 12:36] mhertis commented on #50
Eventually, I came up with some kind of solution. Please check out [latest commits](https://github.com/mhertis/Cirqus/commits/master).

[2015-05-20 15:23] asgerhallas commented on #50
I see the problem in the test harness, I think your solution is the right one. But I have a few comments on the UnitOfWork... I'll leave them in the commits :)

[2015-05-20 15:56] asgerhallas commented on #50
I said a few, but in reality just one.

It's a tough one with the TestContext and the harness. I believe that emitted events should not have an owning type at all, but that might be a discussion for another day :)

[2015-05-20 19:06] mhertis commented on #50
[Take 2](https://github.com/mhertis/Cirqus/commit/3370774bab223a2ddf2efa4d962497a1b0c1e3a3), this time without Emitter :)

[2015-05-20 19:23] mhertis commented on #41
It is essential for the development. Therefore, Nuget will be very useful.

[2015-05-20 20:24] asgerhallas commented on #41
There's https://www.nuget.org/packages/d60.Cirqus.xUnit/ and https://www.nuget.org/packages/d60.Cirqus.NUnit/ .

Do you need access to the Cirqus.Testing directly for use with another testing framework?

[2015-05-20 20:28] mhertis commented on #41
Yes, we are using it with MSTest. Will submit PR.

[2015-05-20 20:29] asgerhallas commented on #41
Great! :+1:

[2015-05-21 19:40] mpaul31 opened #53 "View / Projections"
i have not fully dove into this yet but is their any examples out there that show more in-depth usage of the view manager / projections? does the framework handle idempotent such that the view will only receive an event once?

[2015-05-21 19:45] mookid8000 commented on #53
We haven't gotten around to building more detailed examples, but I can tell you that the view managers are pretty strict about handling each event exactly once, and always strictly in order.

Moreover - if you haven't discovered this already - the views automatically catch up in the background, so if you need to replay a view, you can just wipe the data and the stored position for that view, and t

[2015-05-21 19:45] #53 closed

[2015-05-21 19:49] mpaul31 commented on #53
ok thanks i'll give it a go.

[2015-05-27 12:52] mhertis commented on #40
protected TAggregateRoot TryLoad<TAggregateRoot>(string aggregateRootId) where TAggregateRoot : AggregateRoot, new()

Wondering why is there new() constraint? It prevents us to make our base class abstract.

[2015-05-27 13:48] mookid8000 commented on #40
good find, @mhertis , that sounds like an oversight - can't see why `TryLoad` should have type constraints when `Load` should not.

[2015-06-18 08:13] #50 closed

[2015-06-18 08:57] asgerhallas opened #54 "Remove TOwner from DomainEvent<TOwner>"
After @mhertis implemented the ability to emit events from subclasses of a root, the term _owner_ is now ambiguous: if the event is emitted from a subclass the Owner metadata is actually the type of the emitter, not TOwner.

Thus now TOwner only serves one purpose: to prevent emitting events, that belong to another root hierarchy. And I'm not sure if that adds any value. The id is what the emitted

[2015-06-18 09:24] mookid8000 commented on #54
Not because I disagree (completely) - but `MetadataKeys.Owner` is the concrete type emitting the event - see [RealUnitOfWork](https://github.com/d60/Cirqus/blob/master/d60.Cirqus/Commands/RealUnitOfWork.cs#L38) and is used to figure out which concrete type to hydrate, which basically allows you to

     var aggregateRoot = commandContext.Load<AggregateRoot>(someId);

and have `aggregateRoot` be an

[2015-06-18 09:25] asgerhallas commented on #54
True, but TOwner of DomainEvent<TOwner> is not that type any longer...

[2015-06-18 09:26] asgerhallas commented on #54
I can see that has removed all my brackets... two secs, I think that'll clear it up :)

[2015-06-18 09:31] asgerhallas commented on #54
So let me put another way, why have a generic `DomainEvent<TOwner>` class when

1. the meaning of TOwner is not same as the metadata key Owner (it was before, but isn't now)
2. it does have any other value, except a run time type check that can be implemented otherwise if needed
3. it prevents us from emitting events from commands in the future

[2015-06-18 10:41] mookid8000 commented on #54
ok I agree - we should probably make `DomainEvent` the event base class... should we keep `DomainEvent<TRoot>` around? or should it be something that you create yourself in your projects in order to be able to e.g. implement `ISubscribeTo<DomainEvent<SomeParticularRoot>>` in order to have all events of some particular root dispatched to a view?

[2015-06-18 12:58] asgerhallas commented on #54
My first thought is the latter. I think it is confusing if for example - in the current implementation - you try to do:

    ISubscribeTo<DomainEvent<SubClassOfSomeParticularRoot>>

... and don't get any events. I think it would be straight forward to just implement custom filtering logic in the handler, where I can then do:

    if (domainEvent.GetOwner() == typeof(SubClassOfSomeParticularRoot))

[2015-06-18 13:08] asgerhallas commented on #54
"... and don't get any events" - at least that is what I think it does, if I'm not missing something :)

[2015-06-18 13:38] asgerhallas commented on #54
As for perfomance, that would result in views being loaded, that are not loaded today, and that would of course have an impact, but it could be implemented by having a static accessible filter like:

    public class View : IFilter<OnlyRootsOfThisParticularTypeFilter> {}

    public class OnlyRootsOfThisParticularTypeFilter
    {
         bool Handles(Type eventType) {}
    }

It may even be possi

[2015-06-19 04:43] mookid8000 commented on #54
No need to `IFilter` anything - you can always filter by having a `ViewLocator` that doesn't return any IDs for some particular types of events.

[2015-06-19 07:36] asgerhallas commented on #54
Ah yes, I see. I kind of thought the ViewLocators were supposed to more generally applicable, but that may be because I have never needed anything more advanced so far :)

[2015-06-19 08:14] mhertis commented on #54
```DomainEvent<TRoot>``` will still be useful (at least for us :) as we heavily use it in views as @mookid8000 pointed out.

[2015-06-22 08:57] asgerhallas commented on #54
@mhertis ok, I think we should make it easy to still do that then. What would you think of a ISubscribeToEventsFrom<T> interface that - as opposed to now - will handle subclasses of aggregate roots. And it will do so based on the emitting type.

Today if you have ISubscribeTo<DomainEvent<SomeRoot>> it won't handle events of type DomainEvent<SubclassOfSomeRoot> nor the other way around. I think tha

[2015-06-22 09:29] mookid8000 commented on #54
I don't understand what you mean by this - if a view implements `ISubscribeTo<DomainEvent>`, it will get each and every event that gets emitted.

If it implements `ISubscribeTo<DomainEvent<SomeRoot>>` it will get each and every event emitted by that root.

Moreover, if the view implements `ISubscribeTo<MyFunkyEventBase>`, the view will get all events derived off of `MyFunkyEventBase`.

Generally,

[2015-06-22 09:46] asgerhallas commented on #54
I've updated my post with correct markup, hope that makes more sense now :)

[2015-06-22 09:48] asgerhallas commented on #54
It's the same argument I made a few posts earlier, just a different wording :)

[2015-06-22 11:15] asgerhallas opened #55 "HybridDb ViewManager"
Support for easily persisting and querying views-as-documents with SQL Server using HybridDb.

[2015-06-22 11:25] mookid8000 commented on #55
:+1:

[2015-07-03 13:27] asgerhallas opened #56 "Replace services in ConfigurationBuilder container"
Currently _container.Register() will throw if you try to register a service, that already has a factory. That means I cannot call .Create() on a configuration twice, because it has the side effect that it registers default in the container. Now I would like to be able to append and manipulate the configuration when testing and I wonder if we could - without problems - change the implementation so

[2015-07-17 09:38] mhertis opened #57 "CurrentCommandMetada Flow"
Should `CurrentCommandMetada` flow between Aggregate Roots? AR `CurrentCommandMetadata` is set by `DefaultCommandContext`. If AR load/creates and invokes method on some other AR, `CurrentCommandMetadata` is not propagated.

I think this functionality needs to be added to the `AggregateRoot` `Load`, `TryLoad` anc `Create` implementation.

https://github.com/d60/Cirqus/blob/master/d60.Cirqus/Command

[2015-07-17 12:18] mookid8000 commented on #57
Yes it should! I'll investigate when I get some time, maybe today or tomorrod

[2015-07-18 09:55] mhertis commented on #57
I could try prepare a PR if needed.

[2015-07-18 09:56] mookid8000 commented on #57
That would be awesome!

-
Sendt fra min iPhone

[2015-07-20 08:39] mookid8000 commented on #57
Hi @mhertis , did you do anything about this? if not, I can take a look at it today...

[2015-07-20 08:43] mhertis commented on #57
Unfortunately, I did not manage to find time.

[2015-07-20 08:43] mookid8000 commented on #57
excellent - I'll get right on it :)

[2015-07-20 09:03] mookid8000 commented on #57
Hmm, I don't seem to be able to reproduce the bug - if I understood the problem correctly, it was about metadata not flowing correctly to events emitted by other root instances that were created/loaded by an aggregate root?

Could you maybe take a look at the test I made to see which part of the problem I didn't nail correctly? I coded three test cases where the [`FlowsCorrectlyViaRootLoadingOther

[2015-07-20 09:15] mhertis commented on #57
Yes, that seems to be a problem. Will check it out, just a sec =D

[2015-07-20 09:21] mookid8000 commented on #57
ah, I extended the test case to use both `TestContext` and the real `CommandProcessor`  - I got an error with the real one, I'll investigate further :)

[2015-07-20 16:39] mookid8000 commented on #57
fixed it - waiting for the tests to pass and then 0.61.4 will be pushed to NuGet.org

[2015-07-20 16:39] mookid8000 commented on #57
@mhertis thanks for reporting the issue btw :+1:

[2015-07-20 16:39] #57 closed

[2015-07-20 17:31] mhertis commented on #57
great, anytime =D

[2015-07-23 02:25] thomas-tran opened #58 "Do you have sample application that using your CQRS implementation?"
Do you have sample application that using your CQRS implementation?

[2015-07-23 11:17] mookid8000 commented on #58
We have two rather silly sample projects in [the CirqusSamples repository](https://github.com/d60/CirqusSamples).

If you have any questions, please don't hesitate to ask them on StackOverflow - we promise to give quicks and thorough answers :)

[2015-07-23 11:17] #58 closed

[2015-07-23 23:53] thomas-tran commented on #58
Hi,

Actually I am pretty new to this event sourcing. Your wiki contains very little information without high level architecture  and I am seeking for the tutorial explaining how to use your framework. I also would like to have the practical example how to use the pattern in production rather than experimental project and willing to contribute if you have one.

Regards
Thomas.

[2015-07-24 07:10] asgerhallas commented on #58
It's unfortunate that there's no good sample project, but it takes a lot of time to make and maintain one. I wish I worked on a project, where I could open source the code, but I unfortunately I don't right now. But if I ever get an idea for such a project, I would :)

As for a service, that returns a view over orders (I my current work, it's projects though), I would - for a web api project - do

[2015-07-24 11:38] thomas-tran commented on #58
That's why I am looking for but how do you implement the IViewManager?

[2015-07-24 11:41] asgerhallas commented on #58
You don't have to, Cirqus comes with a few. In the entry point of your app, you can set it up like this:

    var ordersView = new MongoDbViewManager<OrdersView>("mongodb://localhost/sqlsug");

and then add the following line to the setup of the CommandProcessor:

    .EventDispatcher(e => e.UseViewManagerEventDispatcher(ordersView))

But that's actually included in the sqlsug demo here: https://g

[2015-07-27 23:06] thomas-tran commented on #58
Actually where is easy place to ask questions instead of raising an issue in github?

I am wondering why and when to use the position?

[Route("projects")]
public async Task<ProjectsView> Get(string companyId, int? position = null)
{
        return await viewManager.LoadView(companyId, position) ?? new ProjectsView();
}

[2015-07-28 05:57] mookid8000 commented on #58
Hi @thomas-tran - we prefer getting questions on StackOverflow :) you already [raised the question there](http://stackoverflow.com/questions/31601739/how-to-query-data-in-cqrs-cirqus), which is cool, so I'll give you an answer right away :+1:

[2015-08-24 07:14] asgerhallas opened #60 "ViewInstanceDeletion"
There's a test named `ViewInstanceDeletion` which is currently skipped. Shouldn't we be able to delete view instances? Why is it skipped?

[2015-08-24 07:24] mookid8000 commented on #60
It's skipped because we (currently) cannot delete view instances :)

And we can't delete view instances because that functionality was never made, because noone _actually_ seemed to need it, because I have yet to see a case where it cannot be worked around, and because it raises a bunch of questions.

E.g., if a view decides to delete itself (by calling `context.MarkAsDeleted()` or something like

[2015-08-24 09:28] SamuelDebruyn opened #61 "Logger in ViewManagerEventDispatcher is not changed"
I am building a project using dependency injection with Autofac and CQRS using Cirqus.

I built a *DebugLoggerFactory* and a *DebugLogger* which are exact copies of the *ConsoleLogger(Factory)*, but they log to *Debug* instead of to *Console* (my web project doesn't have a console).
*If you're interested in this, I'll submit a pull request with the debug logger.*

When I create a new aggregate roo

[2015-08-24 09:55] mookid8000 commented on #61
I think I know what's wrong :) Cirqus is meant to be configured using the fluent configuration API, which means that the prettiest way of registering the command processor in the container is to

* register all view managers as `IViewManager` instances
* register a singleton lifestyled factory for `ICommandProcessor` that resolves a command processor by calling the configuration API

E.g. with Aut

[2015-08-24 09:55] #61 closed

[2015-08-24 09:59] SamuelDebruyn commented on #61
I also registered the ViewManagers `AsSelf` so that I could use them in my services to query them. How would you recommend querying an EntityFrameworkViewManager if I only have *IViewManagers* and a *CommandProcessor* available?

*Thanks for the quick reply, much appreciated!*

[2015-08-24 10:06] mookid8000 commented on #61
IMO it doesn't make sense to use Cirqus to query your views - as I see it, you use whichever type of view manager you've chosen _because you want the views to be in some particular place_, and you want to take advantage of the mechanisms and capabilities of that place to query your views.

In your case I would use EF to new up a context and grab an `IQueryable<YourView>` out of that, and then star

[2015-08-24 10:18] mookid8000 commented on #61
Btw I can recommend registering your view managers by doing something like this:

[code]

and then have `RegisterEfViewManager` do something like this:

[code]

provided that you have created an EF context named `EfContext` whose lifestyle is properly managed (i.e. probably tied to the web request or something)

This way, your API controllers can be pretty and persistence ignorant and just have `I

[2015-08-24 10:26] SamuelDebruyn commented on #61
The method `Logging()` after the `With()` returns a different object than the `With()` method. The method `EventStore()` is therefore not found...
When I remove the line with `Logging()`, it builds fine.

Also: do I still need to call `Initialize()` after initializing the processor this way?

Another question: so why would I use EF ViewManager instead of SQL Server ViewManager if I still have to c

[2015-08-24 10:31] SamuelDebruyn commented on #61
Yet another question... :) It seems like I need a *RealUnitOfWork* to perform `Get` operations. Its constructor needs a repository and a domainTypeMapper. Can I get the repository from the *CommandProcessor* in any way so I don't have to create a new one?

[2015-08-24 10:31] mookid8000 commented on #61
`MsSqlViewManager` is very simple because it uses one single table to store its view instances (although you _can_ store "rich" objects by applying the `[Json]` attribute to a view property, which will JSON-serialize the object into a single column).

The advantage of the EF view manager is that it can be used to persist your view even though it might contain collection of other things - EF will t

[2015-08-24 10:32] mookid8000 commented on #61
If you use the configuration API, the `ICommandProcessor` is ready-to-use when you've called `Create()` - this means that everything that needs initialization has been initialized.

[2015-08-24 10:33] mookid8000 commented on #61
`RealUnitOfWork` is an implementation detail inside Cirqus - it's unlikely that you'll ever need to work with it directly :)

[2015-08-24 10:33] mookid8000 commented on #61
With Cirqus, a command is a unit of work - i.e. either it gets processed and succeeds in saving a batch of events to the event store, or it doesn't.

[2015-08-24 10:35] SamuelDebruyn commented on #61
So I shouldn't use Cirqus to retrieve any data? At the moment, I use `Get` to retrieve a single Aggregate Root with all its details that aren't always stored in a view.

PS: Any idea on the issue with `Logging()`?

[2015-08-24 10:39] mookid8000 commented on #61
Aggregate roots will be hydrated as needed when you execute a command.

E.g. you can derive your own command from `Command<SomeRoot>` which will create/update a single aggregate root instance, or you can derive your command from `ExecutableCommand` and use the `ICommandContext` to `Create`, `Load`, and `TryLoad` as many instances as you like.

Ultimately all commands are derived off of the base `C

[2015-08-24 10:39] mookid8000 commented on #61
Regarding "the missing `.EventStore(..)` method" - could you paste your configuration here? I'm pretty sure the method is there.... :smiley:

[2015-08-24 10:45] SamuelDebruyn commented on #61
It's the one you posted as the first answer:

[code]

This is `DebugLoggerFactory`:
[code]

The errors:
* https://onedrive.live.com/redir?resid=B5240A36EC9AE039!292199&authkey=!ABLSIZPkzO5qjPk&ithint=file%2cPNG
* https://onedrive.live.com/redir?resid=B5240A36EC9AE039!292200&authkey=!AEv0MFJ74V-V9TQ&ithint=file%2cPNG

[2015-08-24 10:50] mookid8000 commented on #61
looks weird - on my machine, R# sometimes goes nuts and puts red squigglies allover, but it usually helps to reload the solution.... sometimes I need to restart VS though.. could you try that?

[2015-08-24 11:31] mookid8000 commented on #61
BTW a pull request with your `DebugLoggerFactory` would be most welcome :)

[2015-08-24 11:49] SamuelDebruyn commented on #61
My mistake, forgot a bracket...

[2015-08-24 11:56] asgerhallas commented on #60
Yes, that's what I thought :)

My initial thought was to just have IsDeleted information on the view it self - until I saw the test. I think we should just delete the test and let the view implementer handle it any way he/she finds appropriate for the given situation.

[2015-08-24 11:58] SamuelDebruyn commented on #61
Your method to register EfViewManagers just misses a connectionString in `var viewManager = new EntityFrameworkViewManager<TViewInstance>();` which you can add as a parameter :)

[2015-08-24 13:31] SamuelDebruyn commented on #61
I've setup the autofac registration with your examples, but now the viewmanager doesn't create new tables and throws exceptions like `2015-08-24T15:30:13.5110343+02:00|Warn|d60.Cirqus.Views.ViewManagerEventDispatcher|Could not catch up - waiting 00:00:01 - exception: System.AggregateException: One or more errors occured. ---> System.Data.Entity.Core.EntityCommandExecutionException: An error occurr

[2015-08-24 13:55] mookid8000 commented on #61
hmm, I'm not an expert on EF.... I think you need to create a `DbContext` that has properties that reference your view types, e.g. something like this:

[code]
and then somehow kick EF until it performs an auto-migration of your database schema.... I think you do that by creating all kinds of silly derived configuration classes which you pass to a static method somewhere, something like
[code]
but

[2015-08-24 14:07] SamuelDebruyn commented on #61
That's already the case. But the creation of the tables should happen in `EntityFrameworkViewManager`, no?

[2015-08-24 14:28] mookid8000 commented on #61
that's no longer the intention

it used to be, but I vaguely recall being unable to package it up nicely

[2015-08-24 14:32] SamuelDebruyn commented on #61
So I have to create a table for every view myself and another one called MyView_Position? What was the schema of the Position table?

(I'm sorry for all the questions, I'll try to improve the docs when I fully understand how Cirqus works.)

[2015-08-24 14:33] mookid8000 commented on #61
you know what, forget what I said before - `EntityFrameworkViewManager` should create the tables by itself! just a moment, I'll take a look...

[2015-08-24 14:36] SamuelDebruyn commented on #61
(If you want to take a look at my code, hit me up on Skype: samuel.debruyn. I'm available until 17h30 GMT+2, 15h30 UTC)

[2015-08-24 14:36] mookid8000 commented on #61
check out [the constructor of `EntityFrameworkViewManager`](https://github.com/d60/Cirqus/blob/master/d60.Cirqus.EntityFramework/EntityFrameworkViewManager.cs#L20-L36) - it should create the necessary tables by itself, unless you explicitly disable this feature

have you tried configuring everything and then starting it up on a clean database? (i.e. without the __MigrationHistory table)

[2015-08-24 14:37] SamuelDebruyn commented on #61
Yes, I created a new database on LocalDB and changed my connection string to that DB.

[2015-08-24 14:50] mookid8000 commented on #61
weird - I'm sorry, but I have to shut down my computer now .... I'll be happy to help you make this work, but I would have to be tomorrow...

[2015-08-24 14:52] SamuelDebruyn commented on #61
No problem, I'll be back at 7h30 UTC :) Thanks for all the help, I really appreciate it! I looked at several possible ways to implement CQRS in a .NET application and Cirqus seemed to be the best solution, great work!

[2015-08-28 15:46] SamuelDebruyn commented on #54
I agree with @asgerhallas. I am building an API with Cirqus and a DomainEvent without the generics would simplify things a lot.

Example:

I have an abstract class Animal and subclasses Dog and Cat.
My Animal has a ScratchEvent because both cats and dogs can scratch. Dog has a BarkEvent and Cat has a MeowEvent.
I have a CatsView and a DogsView. The ScratchEvent should be delivered to both views, b

[2015-09-30 09:25] SamuelDebruyn commented on #60
I'm currently using soft deletes, but some views will grow very big, which is not ideal. It's not a priority, but this feature would be nice to have and we should think about how to handle this.

I have create and delete events for each aggregate root. A root can only be created with a CreatedEvent. So if I fire off a CreatedEvent for an aggregate root that has been soft deleted, I make them re-ap

[2015-10-22 15:16] asgerhallas opened #68 "Make it an option to halt ViewManagerEventDispatchers on exceptions"
It would be nice for testing with ViewManagerEventDispatcher and DependentViewManagerEventDispatcher, if they could be set up to rethrow exceptions from the view on the parent thread.

Would you mind a HaltOnExceptions() option for these two? Or how do you use these in tests?

[2015-10-22 15:29] asgerhallas commented on #68
Has anyone ever used InMemoryViewEventDispatcher? I could use something like that, but it does not seem to give access to the views, so I'm not really sure what the point is. Can I rewrite it without anyone gets hurt?

[2015-10-22 19:28] mookid8000 commented on #68
**Exceptions**: Could the worker thread raise an event on exceptions?

This way, the test context could subscribe to that and do whatever it feels like.

**In-mem view event dispatcher**: Never used it. Don't think anyone has. I promise I will not get hurt if you change it. (I think it's another story with `InMemoryViewManager` because it's pretty useful for doing in-mem testing of views)

[2015-10-22 19:57] asgerhallas commented on #68
I ended up implementing a SynchronousViewManangerEventDispatcher for the testing utils, that works pretty well, and was easier than I anticipated. My fear was that supporting views with dependencies to other views would make require me to have an almost parallel implementation of both `ViewManagerEventDispatcher` and `DependentViewManagerEventDispacher`, but as it is synchronous, I just run throug

[2015-10-22 19:57] #68 closed

[2015-10-22 20:22] mookid8000 commented on #68
:+1:

[2015-11-19 13:41] mcquiggd opened #69 "Is support for Azure DocumentDB planned?"
Firstly, very interesting project..my compliments.

I would like to know if support is planned for Azure DocumentDB; if not I will try to find time to contribute towards this,

On a similar subject, is there a roadmap available? Would love to see what the team is planning..

[2015-11-19 21:46] mookid8000 commented on #69
@hdrachmann did actually experiment a little with Azure DocumentDB when it was first announced, mostly because he was interested in seeing if it could be used as an event store... he concluded that it was not suited for that, as it cannot enforce the two unique constraints that Cirqus requires on events: 1) global sequence number, and 2) aggregate root ID + aggregate root sequence number.

I don't

[2015-11-19 23:24] mcquiggd commented on #69
@mookid8000

Thanks for that information...

And yes, my initial thoughts were to look at DocumentDB primarily for my Views.. I will look at creating a view manager that follows existing structure as other implementations, and try some performance metrics etc.

Although I would be comfortable using Mongo, I have a particular requirement that the system can be deployed within Azure as a fully manag

[2015-11-20 07:59] mookid8000 commented on #69
We are currently building a solution that relies only on SQL Server - it seems to work really well with SQL Azure, both as an event store, and as a view manager (via the [HybridDB](https://www.nuget.org/packages/d60.Cirqus.HybridDb/) package, which I can really recommend!). This way, you can have PAAS and rich LINQ-enabled views at the same time ;)

We also have a couple of solutions that use Mong

[2015-11-20 17:46] mcquiggd commented on #69
@mookid8000

Again, thanks for the insights - I am going through the code at the moment, having read a Google translation of the Danish blog posts introducing Cirqus.

I will do some testing of the HybridDB approach, before embarking on a *serious* attempt to build a DocumentDB View Manager... but I have not abandoned that idea just yet ;)

When deploying, do you separate your systems into:

Azure

[2015-11-22 19:57] mookid8000 commented on #69
Not really :) we have several projects running fine with just a single web application instance that builds and processes commands, processing events in the views as well - no service bus or anything.

I could see myself delegating view processing to other nodes to speed up that part if it became a bottleneck, but I would do a lot to avoid having truly asynchronous commands, because it's just so n

[2015-11-22 20:51] mcquiggd commented on #69
Yeap...I can understand... ;-)

My current system would work happily with eventual consistency... the system load could be very high, and variable. I need to be able to support scaling up of individual aspects of the system, especially, as you point out, the view processing, as there are a number of read models, and a Data Warehouse.

Plus, potentially I want to be able to add new subscribers to E

[2015-11-22 23:02] SamuelDebruyn commented on #58
I created [this one](https://github.com/SamuelDebruyn/AD5-Cirqus-demo). I'm going to give a quick demo of Cirqus to fellow students in a few months and that's why I had to create it. It's not complete, but it's enough for the demo (most students have just learned LINQ). Feel free to contribute :)

[2015-11-22 23:04] SamuelDebruyn opened #70 "Wiki collaboration"
I'm going to write a lot of documentation on Cirqus but I can't push my changes to the wiki. I created a fork at https://github.com/SamuelDebruyn/Cirqus.Wiki-fork

Is it possible to change the wiki collaboration setting so everyone can contribute?

[2015-11-23 08:24] mookid8000 commented on #70
The settings already look like this:

![skaermbillede 2015-11-23 kl 09 23 18](https://cloud.githubusercontent.com/assets/32968/11332204/e1f03e6c-91c3-11e5-9798-e9abf266affe.png)

Do you know if there's some other setting I need to change?

[2015-11-23 08:32] mookid8000 commented on #69
But yes, in that case I would create commands in the website and push them via service bus to an endpoint that processes commands.

The view managers will catch up by themselves because they periodically check the event store to see if there's work to you.

You _could_ minimize latency by introducing some kind of low-latency delivery of the emitted events by implementing `IEventDispatcher` and hoo

[2015-11-23 12:26] SamuelDebruyn commented on #70
That should be fine, I probably did something wrong when pushing my commits. Thanks for the quick reply!

[2015-11-23 12:26] #70 closed

[2015-11-23 12:27] mookid8000 commented on #70
No, thank _you_ :smiley: It's so cool that you're doing this :+1:

[2015-11-23 23:56] SamuelDebruyn commented on #70
You're welcome :smile:
Most of the documentation should be finished by the end of this year.
As it's impossible to comment on my changes etc. I created [a fork](https://github.com/SamuelDebruyn/Cirqus.Wiki-fork/commits/master) which is automatically updated with the latest commits to the wiki every hour.
Feel free to comment on the commits over there if you have feedback :wink:

[2015-11-24 08:17] mookid8000 commented on #70
I read your initial edits - you are really good at explaining things!

[2015-11-25 13:57] mcquiggd commented on #69
Thanks... I have a lot to get on with - will keep in touch :+1:

[2016-01-11 17:58] irium opened #71 "Sagas/Process Managers"
I'm using the `Cirqus` and now I need to implement some sort of Saga/Process Manager. How this could be done in `Cirqus`? It could be done with view used to persist Saga state, but how to handle replay then? We don't need to generate same commands (and thus consequent events) twice.

[2016-01-11 21:22] mookid8000 commented on #71
I think maybe @asgerhallas has some things to say about this

[2016-01-12 08:05] asgerhallas commented on #71
Yes. I'm a  a few weeks into making (and trying out in our project) an alternative to current style of making views and this features a process manager. It's not done yet, but I have the next few days to complete it for our project. I don't think it will be stable enough to embed into Cirqus just yet, but I can make it public on github for you to either try out or pick from, if you like...

[2016-01-12 08:54] irium commented on #71
@asgerhallas Yes! It could be better for me to see the code ASAP, so I can pick the idea and immediately continue on my project, because I'm in very rush :(

[2016-01-13 09:17] asgerhallas commented on #71
@irium unfortunately it's currently embedded in the product we work on, and I can not publish that. But I can explain what we do, maybe you can use that. Note that we do not use the ViewManagers as they are right now, so I don't know if it can be done within that framework.

We give every view an event stream. When a command is executed we add one extra event on this stream into the unit of work.

[2016-01-13 13:36] irium commented on #71
@asgerhallas

Do you mean "when a command is executed" - the command issued by *the* process manager - it waits until completion, then writes new event into own stream to reflect new state of process manager, right?

[2016-01-13 14:17] asgerhallas commented on #71
@irium yes, that was a little unclear :) ... but yes exactly.

[2016-01-13 14:52] irium commented on #71
@asgerhallas

Hmm... Couldn't it be better not to wait for a command completion, but for some event (from some aggregate) raised in consequence of the command? As I understand the process manager anyway should listen for various events?

[2016-01-22 09:11] asgerhallas commented on #71
@irium Sorry for the delay, I missed the notification. I have to know, during the handling of the event whether the command has been executed or not, so I don't execute it again at replay. I guess I could set up some binding to a specific event that must have been emitted from some aggregate, but it seems easier to have the process manager have its own stream, does it not?. It must be emitted duri

[2016-02-04 07:58] mortenhm opened #72 "Add name of class to exception message on failed method lookup with reflection"
ApplyEvent method of AggregateRoot class throws an exception when failing to locate Apply method on the concrete root class. This exception (and maybe others of same type) could include information about which concrete root class was reflected.

Small change I think, but the information could probably have saved me a few days of debugging a copy paste error.

https://github.com/d60/Cirqus/blob/c7f

[2016-02-04 08:21] mookid8000 commented on #72
Great idea :+1:

[2016-02-04 08:30] mookid8000 commented on #72
it'll be out in 0.66.2 in a few minutes - thanks for the suggestion :)

[2016-02-04 08:30] #72 closed

[2016-02-04 08:47] mortenhm commented on #72
Thanks! :)

[2016-03-11 15:28] mcquiggd opened #73 "Cirqus.MongoDB - out of date reference to Mongo driver NuGet"
Hi guys,

I was updating an example demo of Cirqus to the latest released NuGet packages, and found that the MongoDB package has a requirement to use an older version of MongoDB.Driver (to reference the type MongoDatabase).

Unfortunately, that version (v1.10) does not seem to be available on NuGet any more.

Simply updating Cirqus.MongoDB to use mongocsharpdriver v2.2,3

Pulls in

MongoDB.Driver

[2016-03-11 15:49] mookid8000 commented on #73
???

I'm puzzled :confused:

1. [mongocsharpdriver 1.10 does not seem to be unlisted](https://www.nuget.org/packages/mongocsharpdriver/1.10.0)
1. Since Cirqus' MongoDB package is written for versions 1.* of the driver, and the driver has received significant API changes in version 2.*, I cannot believe that anything can work with a drop-in update like that

[2016-03-11 15:58] mcquiggd commented on #73
Hi,

 well, last night and this morning, I only see 2.x versions of mongocsharpdriver from the standard nuget feed in VS2015. I will clear my NuGet cache and see if that changes...

And yep, 2.x versions seem to be working without problem... so far... I am using the old sqlsug demo application, which uses SQL Server as its Event Store, and Mongo for its Views...

[2016-03-11 16:30] mcquiggd commented on #73
Aha.. I had installed the release candidate of Visual Studio 2015 update 2, and bizarrely it removed my NuGet server entries. So probably all it was showing was my local cache.

I can in fact see version 1.10 of mongocsharpdriver now that I have re-added my NuGet server entries.

I've updated my post above - regarding compatibility with version 2.x of mongocsharpdriver, etc.

[2016-04-01 22:29] mcquiggd commented on #69
Typical - I had allocated my weekend to polishing up my DocumentDB implementation for Cirqus, and Microsoft  go and announce MongoDB protocol support for DocumentDB:

http://techcrunch.com/2016/03/31/microsofts-documentdb-now-lets-you-use-your-mad-mongodb-skills/

Need to look further into the detail behind the announcements, but unless they are making some pretty major changes to the DocumentDB f

[2016-04-03 14:16] mookid8000 commented on #69
😃
DocumentDB is definitely interesting, so it would be pretty cool to have a view manager for it. How did it go? Please let me know if you need any pointers to get going.

[2016-04-05 13:15] mookid8000 opened #74 "Could not update HybridDB to 0.10.0"
Updated the HybridDB dependency to 0.10.0 and corrected the configuration action, and then I got this when running a test:

    System.Data.SqlClient.SqlException : Invalid object name 'HeaderCounter_HybridDb'.
      at System.Data.SqlClient.SqlConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
      (...)
      at Dapper.SqlMapper.QueryMultiple(IDbConn

[2016-04-05 13:16] mookid8000 commented on #74
@asgerhallas do you know?

[2016-04-05 13:36] asgerhallas commented on #74
@mookid8000 very interested! I'll look at it right away! :)

[2016-04-05 13:48] asgerhallas commented on #74
@mookid8000 are you sure you pushed? It says that branch is even with master - and all tests are running on my end :)

[2016-04-05 14:06] asgerhallas commented on #74
@mookid8000 I have updated it and replicated the issue, I'm on it :)

[2016-04-05 14:17] mookid8000 commented on #74
you rock :metal:

[2016-04-06 09:49] asgerhallas commented on #74
@mookid8000 the tests are running now :)

There are a few changes to the setup of HybridDb, that needs attention in client applications. The motivation for the changes is actually easier use in Cirqus:

1. The DocumentStore must be initialized (call store.Initialize()) before being used. That makes it easier to configure the store in multiple places and have the initialization process run after th

[2016-04-06 09:49] #74 closed

[2016-04-06 11:36] mookid8000 commented on #74
is it merged into master?

[2016-04-06 11:39] asgerhallas commented on #74
No, sorry, I didn't get around to that...

Sent from my phone

On 6. apr. 2016, at 13.37, Mogens Heller Grabe <notifications@github.com<mailto:notifications@github.com>> wrote:

is it merged into master?

—
You are receiving this because you modified the open/close state.
Reply to this email directly or view it on GitHub<https://github.com/d60/Cirqus/issues/74#issuecomment-206326445>

[2016-04-06 11:40] mookid8000 commented on #74
I'll do it! 👍

[2016-04-06 12:13] mookid8000 commented on #74
new Cirqus with updated HybridDB dependency (0.10.0) is out in 0.67.0 on Nuget.org now! 😁

[2016-04-06 12:14] mookid8000 commented on #74
out in 0.67.0 now 😃

[2016-04-09 17:19] enriquein opened #76 "Getting ConcurrencyExceptions now every few seconds"
Hi, yesterday we upgraded to 0.67.1 to install the bugfix to the Postgres event source and ever since I've been getting exceptions like this one every few seconds:

    d60.Cirqus.Exceptions.ConcurrencyException: Could not save batch e6c73eef-5664-4161-812b-bcbd508f9cbe containing

    389650 - 69fa1219-4620-4998-9399-988bb8065aa8 / 0

    to the event store because someone else beat us to it

I h

[2016-04-09 18:04] mookid8000 commented on #76
You are, as you suspect, most likely seeing this because of the increased level of details in the logging. Am I right in assuming that it is logged with the "Warning" level?

As long as it is logged with the "Warning" level, it is only something that you might want to look out for, because it is a sign that you have contention around certain aggregate root instances - so if it happens a lot, you s

[2016-04-09 19:07] enriquein commented on #76
Correct, they are being logged at the information level. I'll take a look at the configuration and also check those events by hand to try and see what's going on. This is a system I inherited and the original programmer is no longer with the company. 
Thanks for clearing this up!

[2016-04-09 19:12] mookid8000 commented on #76
No problem 😎

[2016-04-09 19:12] #76 closed

[2016-04-09 20:44] mcquiggd commented on #69
@mookid8000

Well, actually it was reasonably straightforward, initially I started following the template of your MongoDB implementation, and as I progressed I gained a greater understanding of the framework.

I have not been able to publish my current code to Github this week due to family commitments (and importantly, looking for contracts to finance my startup software company here in Brasil).

[2016-04-18 04:09] whatsdis opened #77 "how does this differ from datomic?"
should I use this or datomic?

[2016-04-18 04:23] mookid8000 commented on #77
Use whichever fits your needs best.

Cirqus is an event sourcing and CQRS framework for .NET where [certain choices have been made regarding which quality attributes to accentuate](https://github.com/d60/Cirqus#is-cirqus-for-you). This may or may not align with what you need.

I suggest you read [the README](https://github.com/d60/Cirqus/blob/master/README.md) and maybe [take the samples for a spi

[2016-04-18 04:23] #77 closed

[2016-04-26 00:50] whatsdis opened #78 "how to use this with datomic?"
how can you integrate this with datomic and other azure services to put cirqus in the cloud? also is anyone using cirqus in production?

[2016-04-26 07:03] mookid8000 commented on #78
There no integration with Datomic at the moment.

You can definitely put Cirqus in the cloud, e.g. using SQL Azure as both event store and views database.

And yes, at [d60](http://www.d60.dk/) we have a couple of solutions built on Cirqus where especially one of them is pretty interesting: It has a central event store on a SQL Server instance placed at the customer's hosting center in Denmark, an

[2016-04-26 07:03] #78 closed

[2016-04-29 06:39] kimbirkelund opened #79 "Upgrading events"
We have a case where we want to change how an event looks, or more exactly create a new version of an event that already exists. E.g. an update event that in the future should contain more data.

Obviously we cannot change the events that already exists, but also we don't want to keep having to handle old versions of the event in new views.

To support this we decorate the domain event serializer

[2016-04-29 06:54] mookid8000 commented on #79
We have at least one system running with "on-the-fly event migrations" at the moment, where we have decorated `IEventStore` to run a pipeline of migrations for events in their `EventData` form before they are returned.

Migrating events in this case consists of turning them into `JObject`s, which we then gently nudge into place, and then we convert them back into a `byte[]` again.

The individual

[2016-04-29 06:59] kimbirkelund commented on #79
I opted for not using that approach to avoid working with EventData.

I wonder how much you actually save though, as instead of deserializing an event that'll be replaced by another object you deserialize and serialize instead (albeit only to JObject).

But if I'm not mistaken it doesn't get around the issue introduced, in 0.66.1, by skipping the serialization step in the dispatcher? (again that r

[2016-04-29 07:09] mookid8000 commented on #79
My guess, based on my own experiences, is that the hit will be negligible in most scenarios. But then again, we are not in a performance-critical world, so ymmv.

Of course, if you have HUGE events, then there will be a lot of `byte[]` churn. We did ensure, however, that events were turned into `JObject` once, which the pipeline could then work on without serializing back and forth, and then only

[2016-04-29 07:10] mookid8000 commented on #79
In this because you rely on being able to mutate newly emitted events? Because yes, then decorating `IEventStore` will not make it work either.

[2016-04-29 07:26] kimbirkelund commented on #79
We had a test that relied on upgrading newly emitted events. So changing that fixed the issue.

For now we'll stick with our current implementation.

This issue was mostly evaluating whether it made sense to develop this into a feature I could pull-request back into Cirqus.

[2016-04-29 07:37] mookid8000 commented on #79
ah, now I get it 😄 well in that case I don't think it makes that much sense

[2016-04-29 07:38] kimbirkelund commented on #79
Fair enough :)

[2016-04-29 07:38] #79 closed

[2016-04-29 07:39] mookid8000 commented on #79
(if you felt strongly about it, I am sure you would have tried to convince me by now)

[2016-04-29 07:40] kimbirkelund commented on #79
:)

[2016-06-21 12:23] kimbirkelund opened #80 "TestContext may cause hangs"
When using the TestContext there is a risk of hangs when WaitForViewsToCatchUp is called. This is the case both when called from within TestContext, when running in sync mode, and when called from outside.

The issue arises when a view uses async/await in its WaitUntilProcessed implementation - possibly only when using ConfigureAwait(false). When TestContext.WaitForViewsToCatchUp calls Wait() it h

[2016-07-24 12:02] NKnusperer opened #81 "EventStore support?"
I'am wondering that there is no support for [EventStore (geteventstore.com) ](https://geteventstore.com/ )?
Wouldn't this be a natural fit?

[2016-07-24 14:47] mookid8000 commented on #81
You would think that it would be a natural fit, but Greg's event store does not support cross-aggregate transactions.

The thing is: Basically, Cirqus gives up some scalability in trade for the ability to have multiple aggregates participate in the same transaction, which essentially can be boiled down to having a central lock somewhere. In this case, it is the optimistic lock on the issuance of g

[2016-07-24 14:47] #81 closed

[2016-08-01 14:21] NKnusperer commented on #73
Just browsed trough the source code and found this odd line: (expression is always false):
https://github.com/d60/Cirqus/blob/master/d60.Cirqus.MongoDb/Views/MongoDbViewManager.cs#L89
Is this somehow intended?

[2016-08-01 16:02] mookid8000 commented on #73
Yes, it is intentional - for SOME weird reason (and I never bothered to figure out why), the in-mem caching of the current position in the `_cachedPosition` does not work as intended.

The purpose was to save a database lookup once in a while, but since events are dispatched in batches to the view manager anyway, the cost of doing the lookup in `GetPositionFromPersistentCache` (i.e. directly from

[2016-08-01 16:02] mookid8000 commented on #73
Thanks for the code scrutiny btw 😁  👍

[2016-08-02 10:40] NKnusperer opened #82 "IViewManager for SQLite?"
Which IViewManager is indented to be used with SQLite?
d60.Cirqus.SQLite only contains the SQLiteEventStore.

[2016-08-02 11:19] mookid8000 commented on #82
Well.... as you have now found out, noone seems to have had the need for a view manager for SQLite yet 😄

Implementing a view manager is fairly straightforward - if you are up to it, I suggest you take a look at the existing view manager contract tests in [`d60.Cirqus.Tests/Contracts/Views`](https://github.com/d60/Cirqus/tree/master/d60.Cirqus.Tests/Contracts/Views) - it has "contract tests" for a

[2016-08-02 12:03] NKnusperer commented on #82
Thank you for the info.
Some other (unrelated) questions:
I'am currently evaluation different Cirqus backends and MongoDB is a good choice for our infrastructure there is one use case where latency is crucial but persistency is not (its only about in-process communication). Would the InMemoryEventStore a good fit here?

Also it is possible to use multiple EventStores/ViewManagers simultaneously?
L

[2016-08-02 12:26] mookid8000 commented on #82
You are free to combine in any way you see fit, e.g. using SQL Server to store events and MongoDB for your views.

The in-mem event store was originally meant for test purposes only.

I don't see any problems in using it if you don't need any persistence, except the fact that there is currently no way its recorded history of events can be truncated, thus leading to ever-increasing memory usage.

I

[2016-08-02 22:55] NKnusperer opened #83 "How to build a microservices like architecture"
For the purpose of learning Cirqus I created a simple banking app which basically looks like this:
AggregateRoot: BankAccount
Commands: CreateBankAccount, PerformDeposit, PerformWithdrawal
Events: BankAccountCreated, DepositPerformed, WithdrawalPerformed

While this all works fine in a standalone app I'am wondering how you would use this from the outside, e.g. another process on another machine.

[2016-08-05 12:49] NKnusperer commented on #83
After some more research it looks like Cirqus is not really designed to supported this kind of distributed scenario.  However you guys seems to be also the developers of rebus, so this might be the solution?
Multiple services are using Cirqus for their stuff internally and expose there functionality via rebus?

[2016-08-05 15:24] mookid8000 commented on #83
@NKnusperer sorry for not answering your first question – I read it on my phone and wanted to post a good answer when I came by a computer, but I forgot about it 😁

But yet – my answer would basically just say something along the lines of the conclusion that you came to on your own – Cirqus is not really meant to be used _across_ "services" (or whatever you call it....)

Cirqus is meant to work as

[2016-08-05 15:24] #83 closed

[2016-08-14 20:58] 0davidreynolds0 commented on #71
We're process managers inter grated into cirqus? Also, do d60 use process managers in they're projects?  It seems from the documentation that if modifying multiple aggregates is required then you would suggest doing so in a command handler.  Is this the case or would you use a process manager for this kind of thing?

[2016-08-15 05:34] mookid8000 commented on #71
@0davidreynolds0 no, Cirqus never got any process manager mechanism built in... and d60 does not really use any explicit process manager mechanisms anywhere

[2016-11-14 01:19] minhhungit opened #85 "Refresh cirqus system / aggregate root"
I have an issue that I don't know where should I post, so I write here

My application has a tool to create **events** for existed data
At the time I start it, it run very fast (I just use emit() and don't use apply() / view )
it runs fast for some thousand records ( < 10 000 ) but more and more slow
I stop tool and run again (the tool will start again at the end of time we closed tool ) and it's

[2016-11-14 01:21] minhhungit commented on #85
Here is my command and event:

[code]

[2016-11-14 05:57] mookid8000 commented on #85
It makes sense for command processing to become slower as the number of events for the loaded aggregate root becomes greater. But if `DemandRoot.GetAggregateRootId(this.DemandDate)` works by getting a new ID for each day, it should distribute emitted events nicely over the days, leading to a command execution time that looks like this (tL = time to load an aggregate root, t = time):

     tL

[2016-11-14 23:50] minhhungit commented on #85
Our system used nancy fx to create API service
I sent request to API, the API will process command:
The bellow code will call api:
`var t = SendCommand(cmd, "V1/Demand/UpdateDemandForAllServices");`

with SendCommand method was created in here:

[code]

Code for **UpdateAllServicesDemandForDay** command was posted at previous comment

[2016-11-15 07:19] mookid8000 commented on #85
It _could_ be [the `HttpClient` leak](http://stackoverflow.com/a/27830926/6560) that you are experiencing. I don't know what you are achieving with the `static List<HttpClient>`, but `HttpClient` is meant to be newed up ONCE and kept around for the entire duration of your application's lifetime.

This also means that headers like API keys need to be added to each `HttpRequestMessage` instead of se

[2016-11-16 05:35] minhhungit commented on #85
- HttpClient is not problem, I used static List<HttpClient> to re-used HttpClient
- I did a stress test to send request to api server without cqrs, just send request and return a simple response => it's still fine. it takes 3-6 miliseconds / request

So I can pass the nancy api & httpclient case

![Uploading stress-test-nancy-api.gif…]()

[2016-11-18 03:10] minhhungit commented on #85
Dear @mookid8000:
 After investigating the cause, I saw it slow when I load aggregrate root
Here is execute method:

[code]
Do you have any idea, sir

[2016-11-18 07:59] mookid8000 commented on #85
Loading an aggregate root _will_ become slower as the number of events for that particular root increases. That's what I meant with this one:

	 tL
	  |   /    /    /
	  |  /    /    /
	  | /    /    /
	  |---------------> t

which is meant to illustrate what I imagined was your scenario, where a new root instance would be created for each day.

Generally, it is best to avoid having roots that "li

[2016-11-18 14:34] minhhungit commented on #85
Can you please explain more detail about **`snapshot`** feature, how to use it, right now we don't have document for it

[2016-11-19 12:42] minhhungit commented on #85
@mookid8000:
Everytime execute a command, it always replay all events for aggregate
How can we load aggregate root with latest state without replay event, I mean can we load aggregate with latest state from memory or anything like that ?

[2016-12-22 18:00] kri5t opened #86 "Q: .net core compatibility?"
Is this project still being maintained. As I can see the last update was 7 months ago.
I wanted to know if it is going to be ported to .netcore anytime in the future?

[2016-12-22 18:16] mookid8000 commented on #86
It's still being maintained as in: We (d60) use it for a couple of applications, and we fix issues if we find any 😄

But unfortunately we are not currently planning porting it to .NET Core, as it's not currently a thing that we need.

[2016-12-22 18:16] #86 closed

[2016-12-23 15:50] pvivera commented on #86
FYI 2 months ago I started to port it to .netstandard but 1.6 doesn't have binary serialization. The Core team is going to add it in 2.0 so as soon they release it I'll finish the base part of Cirqus with MSSQL support.

[2017-04-24 15:03] NKnusperer commented on #86
@pvivera have you tried v2.0 preview build from [dotnet/cli](/dotnet/cli) ?
Would be interesting to know if stuff might be already working.

[2017-05-09 19:38] pvivera commented on #86
@NKnusperer I didn't test it yet. I'll keep you posted.

[2017-06-14 19:50] enriquein opened #87 "PostgreSQL: Add option for client certificate authentication"
In our current project we need to support using client certificates to authenticate against PostgreSQL. I'd love submit a pull request implementing this functionality, but I wanted to see what would be the ideal way to expose this configuration option through the UsePostgreSql configuration method.

The crux of the issue is that in order to configure Npgsql to use a client certificate, you need to

[2017-06-15 04:54] mookid8000 commented on #87
hi @enriquein , thanks for your proactive handling of this 😄

I will go through the Rebus code and see if I can make a similar change

[2017-06-15 04:54] #87 closed

[2017-07-14 07:49] kimbirkelund opened #90 "Required default constructor on aggregate roots"
We've run into a situation where we want to use the factory method support for creating aggregate roots, to inject some dependencies. However the fact that Command<T> requires the root to have a default constructor means we need to keep it around even though we don't want to use it.

How easy would it be to remove that restriction? As far as I can tell other parts of the system doesn't require it.

[2017-07-18 07:31] mookid8000 commented on #90
I have no idea :) isn't the constraint only a requirement if you derive commands from `Command<TAggregateRoot>`?

If I were you, I would fork the code and try and play around with it.

[2017-07-18 07:31] #90 closed

[2017-07-28 19:03] pvivera commented on #86
@NKnusperer I've completed the migration to netstandard2.0 using dotnet 2.0.0-preview2-006497 and Visual Studio 2017 Preview.

All projects are targeting net45 and netstandard2.0 except d60.Cirqus.EntityFramework and d60.Cirqus.HybridDb.

The work lives at netstandard branch in my fork.

[code]

[code]

[2017-11-07 00:03] lcpinto opened #92 "Cirqus with multiple instances"
Hi,

How do you manage to use cirqus in a cluster envirnoment, with multiples instances of the same applications. How Global Sequence Number and Sequence Number will behave?

Thanks in advance,
Luís Pinto

[2018-10-13 07:54] brettwinters opened #93 "Cirqus with asp.net"
Great framework, but I’m having difficulty integrating it into a asp.net application -  no issues on the command side, but either the event dispatcher is not dispatching events or view managers are not handling the events

Is Cirqus compatible with asp.net? I noticed that the view manager event dispatcher gets its own dedicated background thread - how to set this up in asp.net within each request?

[2018-10-13 23:00] brettwinters commented on #93
oops I blindly copied : waitHandle.WaitForAll(...).Wait(); from the console demo into my asp.net application which caused the deadlock.

Should have used async -> await waitHandle.WaitForAll(...);

[2018-10-13 23:00] #93 closed

[2019-01-31 03:17] brettwinters commented on #86
Hi @pvivera - I can't find the netstandard branch in your fork. Is it [this one](https://github.com/pvivera/Cirqus)

[2021-04-10 19:36] #73 closed

[2021-04-10 19:37] #69 closed